# Python Virtual Environment
env/
venv/

# Environment variables 
.env

# Python compiled files
__pycache__/
*.pyc
*.pyo

# Pytest cache
.pytest_cache/

# Local Firebase configuration files (cache, not the project)
.firebase/

# System files
.DS_Store
Thumbs.db

# Notebooks and temporary scripts for testing
Untitled.ipynb
script.py
apod.json

#Others
*.log